.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-column-gap: 17px;
    grid-row-gap: 20px;
    max-width: 880px;
    margin: 51px auto 0;
    list-style-type: none;
}

@media screen and (max-width: 1124px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 868px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 7px;
    }
}



@media screen and (max-width: 610px) {
    .cards {
        grid-template-columns: 1fr;
        max-width: 282px;
        margin-top: 36px;

    }
}