.popup__button-save {
    min-height: 50px;
    background: #000000;
    border-radius: 2px;
    margin: 0;
    color: #FFFFFF;
    border: rgba(0, 0, 0, 0);
    padding: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    .popup__button-save {
        font-size: 14px;
    }

}

.popup__button-save:hover {
    opacity: .8;
    cursor: pointer;
}