.popup__line{
    border: 1px;
    border-color: #000000;
    width: 358px;
    border-style: solid;
    height: 0px;
    margin: 0 auto;
    
}
@media screen and (max-width: 500px) {
    .popup__line {
        width: calc(100% - (22px + 22px));

    }

}