.profile {
    margin: 40px auto 0;
    display: flex;
    max-width: 880px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .profile {
        width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .profile {
        width: 282px;
        flex-direction: column;
        margin-top: 42px;
    }
}