.popup__name{
    width: 358px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color:  #000000;
    margin: 0 36px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 0;
    padding-bottom: 13px;
    
}

@media screen and (max-width: 500px) {
    .popup__name {
        margin-left: 22px;
        margin-right: 22px;

    }

}