.footer__title{
    color: #545454;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
}
@media screen and (max-width: 568px) {
    .footer__title{
        line-height: 14px;
        font-size: 14px;
        }
}