.profile__add-button {
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    background-image: url("../../../images/Add.svg");
    background-repeat: no-repeat;
    background-position: center;
    align-self: center;
    margin: 0 0 0 auto;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    object-fit: cover;
    object-position: center;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 585px) {
    .profile__add-button{
        width: 120px;
    }
}
@media screen and (max-width: 568px) {
    .profile__add-button{
        width: 282px;
        margin-top: 36px;
        
    }
}
