.elements__item-description {
    width: 100%;
    background-color: #FFFFFF;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px 25px 21px;
    box-sizing: border-box;
}