.popup__input {
  border: none;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
  padding: 0;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
}

